.container{
    background-color: #8B1874;
    min-height: 100vh;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}
.warper{
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 5px;
 
}
.warper h4{
  text-align: center;
  font-size: 2rem !important;
}
.form{
  display: flex;
  flex-direction: column;
}
label{
  padding: 10px 0px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn button{
  background-color: #8B1874;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.emailSpan{
  color: red;
}
input{
  font-size: 1rem !important;
  padding: 5px 2px;
  font-size: 1rem !important;
}
input:focus{

  outline: none; 
 }

 .warinng{
  border:2px solid #ff0000;
  outline: none;

 }
 .warinng::placeholder{
  color: red;
 }
 .success:focus{
  border:2px solid #00f731;
  outline: none;
 }
 .loginlink{
  margin-top: 20px;
 }
 .loginlink a{
  color: rgb(0, 94, 255);
 }