.container{
  background: #8a2387;
  background: -webkit-linear-gradient(112deg, #8a2387 0%, #8e54e9 100%);
  background: linear-gradient(112deg, #8a2387 0%, #8e54e9 100%);
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
position: absolute;

}
.warper{
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
}
.warper h3{
  text-align: center;
  font-size: 2.5rem;
  background: #8A2387;
  background: radial-gradient(circle farthest-corner at right center, #8A2387 11%, #02AFEE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containercontent{
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;

}
.form{
  display: flex;
  flex-direction: column;
}
.input{
  margin: 10px !important;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn button{
  background-color: #8B1874;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.loginlink{
  margin: 10px;
 }
 .loginlink a{
  color: rgb(0, 94, 255);
  margin-left: 3px;
 }