
.warper{
    /* display: flex; */
/* width: 100%; */
/* margin-right: 30px;
    margin-bottom: 10px;
   margin: 30px 10px; */
/* background-color: gray; */
 flex: 0 0 auto;
    /* width: 25%;  */

}

/* flex: 0 0 auto;
    width: 25%; */

.image{
width: 400px;
display: flex;
padding: 20px;
padding-right: 30px ;
background-color: rgb(226, 12, 12);

margin: 30px 10px;
}
.image img{
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}
.container{
    margin: 30px 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/* background-color: red; */
/* display: flex;
justify-content: center; */
}
.title{
    display: flex;
}
.title p{
    font-size: 1.5rem;
    padding-right:20px;
}
.date{
    display: flex;
}
.date p{
    font-size: 1.5rem;
    padding-right:20px;
}
.date  h3{
font-size: 1.4rem;
margin-top: 5px;
}

@media (max-width:1496px){
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    /* background-color: red; */
    /* display: flex;
    justify-content: center; */
    }

}
@media (max-width:1113px){
    .image{
        width: 300px;
        display: flex;
        padding: 10px;
        padding-right: 30px;
        
        margin: 10px 10px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .title{
            display: flex;
        }
        .title p{
            font-size: 1rem;
            padding-right:10px;
        }
        .date p{
            font-size: 1rem;
            padding-right:10px;
        }
        .date  h3{
            font-size: 1.2rem;
            margin-top: 2px;
        }
}


/* del pop */


.mainbox{
    padding: 30px;
  }
  .mainbox h5{
text-align: center;
  }
  .popheader{
    display: flex;
    justify-content: space-between;
  }
  .poptitle p {
font-size: 1.5rem;
margin-right: 20px;
  }
  .poptitle h3 {
    margin-top: 1px;
      }
  .poptitle{
    display: flex;
  }
  .logoutbtn{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
margin-top: 20px;
  }
.logoutDel{
    background-color: rgba(255, 2, 2, 0.733);
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
}
.logoutDel:hover{
    background-color: red;
}
.logoutChannel{
    cursor: pointer;
    color: #fff;

    background-color: rgba(132, 145, 209, 0.634);
    padding: 10px 20px;
}
.logoutChannel:hover{
    cursor: pointer;
    color: #fff;

    background-color: rgb(132, 145, 209);
    padding: 10px 20px;
}

.descbox{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 10px;
}
.popimage{
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px;
    padding-right: 30px ;
    
    margin: 30px 10px;
}

.popimage img{
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
padding: 10px 20px;
}
.popdesc{
    width: 100%;
}
.popdesc textarea{
    width: 100%;
    height: 500px;
    padding: 10px;
    line-height: 2rem;
   border: 2px solid gray;
   border-radius: 5px;
}
.popdesc  textarea::-webkit-scrollbar {
    width: 0.5em;
}

.popdesc textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.popdesc  textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 15, 215, 0.712);
  outline: 1px solid rgb(247, 3, 255);
}
.popCloseButton{
    /* background-color: #f50a0a ; */
    /* padding: 10px; */
    font-size: 3rem;
  transition: 0.3s ease-in all;
  cursor: pointer;
}
.popCloseButton:hover{
    color: red;
}