.fullbox{
    background: rgba(0, 71, 250, 0.67);
background: -webkit-linear-gradient(226deg, rgba(0, 71, 250, 0.67) 0%, rgba(255, 15, 215, 0.37) 100%);
background: linear-gradient(226deg, rgba(0, 71, 250, 0.67) 0%, rgba(255, 15, 215, 0.37) 100%);

min-height: 100vh;

}
.warper a{
color: inherit;
 /* flex: 0 0 auto; */
}


.image{
width: 400px;
display: flex;
padding: 20px;
padding-right: 30px ;
background-color: #f3f3f3;
cursor: pointer;
margin: 30px 10px;
-webkit-box-shadow: 0.5px 0 11.5px 0 #969696;
-moz-box-shadow: 0.5px 0 11.5px 0 #969696;
box-shadow: 0.5px 0 11.5px 0 #a59aa7;
}
.image img{
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}
.container{
    padding: 30px 50px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/* background-color: red; */
/* display: flex;
justify-content: center; */
}
.title{
    display: flex;
}
.title h3{
    font-size: 1.3rem;
    color: #418af7;
}
.title p{
    font-size: 1rem;
    padding-right:20px;
    margin-top: 2px;
}
.date{
    display: flex;
}
.date p{
    font-size: 1rem;
    padding-right:20px;
    margin-top: 2px;
}
.date  h3{
font-size: 1rem;
margin-top: 5px;
}

@media (max-width:1113px){
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image{
        width: 300px;
        display: flex;
        padding: 10px;
        padding-right: 30px;

        
        margin: 10px 10px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .title{
            display: flex;
        }
        .title p{
            font-size: 1rem;
            padding-right:10px;
        }
        .date p{
            font-size: 1rem;
            padding-right:10px;
        }
        .date  h3{
            font-size: 1.2rem;
            margin-top: 2px;
        }
}


@media (max-width:452px){
    .container{
        padding: 30px 10px;
    
    }
    .image{
        width: 200px;
        display: block;
        padding: 10px;
        padding-right: 30px;
        margin: 10px 10px;
        }
        .image img{
          margin-left: 10px;
          margin-bottom: 10px;
            width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
            }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .title{
            display: flex;
        }
        .title p{
            font-size: 1rem;
            padding-right:10px;
        }
        .title h3{
            font-size: 1rem;
            padding-right:10px;
            margin-top: 2px;
        }
        .date p{
            font-size: 1rem;
            padding-right:10px;
        }
        .date  h3{
            font-size: 1rem;
            margin-top: 2px;
        }
}







