.container{
    background-color: #B71375;
}

.uparrow{
    position: fixed;
    background-color: #ff0fd7b6;
    bottom: 10px;
    right: 10px;
    transition: 0.5s all ease-in;
    cursor: pointer;
  }
  .uparrow .up{
  font-size: 3rem;
  color: #fff;
  transition: 0.5s all ease-in;
  
  }