

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
margin-top: 50px;
    overflow: hidden;
}
.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}



table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.time {
    padding: 0;
    background-color: rgba(0, 0, 255, 0.599);
    padding: 10px;
    width: 120px ;
    margin-top: 19px; 
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
}

.message{
    margin-top: 12px;
    /* height: 100%;
    width: 100%; */
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #8B1874;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #8b18742d;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.delbtn{
    background-color: red;
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    width: 70px ;
    cursor: pointer;
}




.Appoverd button{
    cursor:auto;
    border:none;
    padding: 5px 10px;
    background-color: rgb(126, 126, 126);
    color: #37ff05;
    border-radius: 5px;
}
.pending button{
    cursor:auto;
    border:none;
    padding: 5px 10px;
    background-color: rgba(126, 126, 126, 0.493);
    color: #e6ff05;
    border-radius: 5px;
}

/* del pop */


.logoutbox{
    padding: 30px;
  }
  .logoutbox h5{
text-align: center;
  }
  .logoutbtn{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
margin-top: 20px;
  }
.logoutDel{
    background-color: rgba(255, 2, 2, 0.733);
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
}
.logoutDel:hover{
    background-color: red;
}
.logoutChannel{
    cursor: pointer;
    color: #fff;

    background-color: rgba(132, 145, 209, 0.634);
    padding: 10px 20px;
}
.logoutChannel:hover{
    cursor: pointer;
    color: #fff;

    background-color: rgb(132, 145, 209);
    padding: 10px 20px;
}

.descbox{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 10px;
}