

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
   
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
margin-top: 50px;
padding-top: 20px;
    overflow: hidden;
}
.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}



table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.time {
    padding: 0;
    background-color: rgba(0, 0, 255, 0.599);
    padding: 10px;
    width: 120px ;
    margin-top: 19px; 
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
}

.message{
    margin-top: 12px;
    /* height: 100%;
    width: 100%; */
}

.thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ac048d;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
  
}

tbody tr:nth-child(even) {
    background-color: #8b18742d;
}

tbody tr {
    --delay: .1s;
/* background-color: red; */
/* margin: 50px; */
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.delbtn{
    background-color: red;
    padding: 5px 20px;
    border-radius: 15px;
    color: #8b8b8b;
    width: 70px ;
    cursor: pointer;
}
.statusntd{
  padding-left: 50px;
}

.rejected button{
    /* background-color: red; */
    /* padding-left: 40px; */
    padding: 10px 20px ;
    border: none;
    border-radius:100% 0% 2% 98% / 50% 49% 51% 50%;
    color: #5b0808;
    margin-left: 15px;
    cursor: auto;
    background: rgba(247, 0, 0, 0.568);
border: 1px solid rgb(247, 0, 0);
}
.pending button{
    padding: 10px 20px ;
    border: none;
    border-radius:100% 0% 2% 98% / 50% 49% 51% 50%;
    color: #6e744a;
    
    cursor: auto;
    background: rgba(247, 231, 0, 0.234);
border: 1px solid rgb(247, 218, 0);
}
.success button{
    padding: 10px 20px ;
    border: none;
    border-radius:100% 0% 2% 98% / 50% 49% 51% 50%;
    color: #6e744a;
    
    cursor: auto;
    background: rgba(54, 255, 4, 0.234);
border: 1px solid rgb(50, 252, 0);

}
.deletebtn{
    cursor: pointer;
    color: red;
    position: relative;
    display: inline-block;
   font-size: 2rem;
}

