.ullist{
    display: flex;
    background-color: rgba(255, 0, 0, 0.26);
    justify-content: space-between;
}
.ullist li{
    list-style: none;
    display: flex;
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}