.header {
    width: 100%;
    height: 70px;
    line-height: 35px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
background-color: #B71375;

}

.conatiner{
    margin: 0 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
list-style: none;
margin-top: 10px !important;
margin-right: 30px;
}

.nav_item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
}

.nav_item ul {
    list-style: none;
   
}

.nav_item a:hover {
transition: none;

}

.active {
    color: #fff;
    
}
.inactive{
    color: #14141f !important;
}


.btn {
    padding: 7px 25px;
  
  margin-top: 5px;
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

.inactiveappointmentbtn button{
    background-color: #8B1874 !important;
    border-radius: 3px !important;
    border: 3px solid #0f0231;
 padding: 0px 20px !important;
 color: #041f21;
 font-weight: 600;
}
.activeappointmentbtn button{
    background-color: #8B1874 !important;
    border-radius: 3px !important;
    border: 3px solid #219AF1;
 padding: 0px 20px !important;
 color: #fff;
 font-weight: 600;

}
.btn span i {
    color: #fff;
}

.btn a:hover {
    color: #fff;
}

.mobile_menu {
    color: #fff;
    font-size: 1.3rem;
    display: none;
}
.nav_right{
    display: flex;
    align-items: center;
    
}
.logout{
    background-color: #FC4F00;
    color: #fff;
    /* margin-top: 15px !important; */
    margin-right: 50px;
    padding: 2px;
    font-size: 2.3rem;
    margin-top: 6px;
    transition: 0.8s all ease;
    cursor: pointer;
}
.logout:hover{
    background-color: red;
    color: #fff;
}
.logo{
    width: 100%;
    height: 60px;
}
.logo img{
    height: 100%;
    margin-top: 5px;
}
.nav_list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
list-style: none;
margin-top: 10px !important;
margin-right: 30px;
}

.nav_item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
}

.nav_item ul {
    list-style: none;
   
}

.nav_item a:hover {
transition: none;

}

.active {
    color: #fff;
}
.inactive{
    color: #14141f !important;
}


.btn {
    padding: 7px 25px;
  
  margin-top: 5px;
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}
.login {

        cursor: pointer;
        color: #fff;
        background-color: #2F1A49;
        text-decoration: none;
        padding: 5px 30px;
      border-radius: 35px;
   
}
.appointmentbtn{
    background-color: #8B1874 !important;
    border-radius: 3px !important;
    border: 3px solid #060047;
 padding: 0px 20px !important;
}
.btn span i {
    color: #fff;
}

.btn a:hover {
    color: #fff;
}

.mobile_menu {
    color: #fff;
    font-size: 1.3rem;
    display: none;
}
.nav_right{
    display: flex;
    align-items: center;
    
}
.logout{
    background-color: #060047;
    color: #fff;
    margin-right: 20px;
    padding: 2px;
    font-size: 2.3rem;
    margin-top: 3px;
    transition: 0.8s all ease;
    cursor: pointer;
    border-radius: 2px;
    
}
.logout:hover{
    background-color: red;
    color: #fff;

}


.notification{
    position: relative;
}
.badge{
    right: 12px;
position: absolute;

}








@media only screen and (max-width:768px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#14141f83, #14141f83);
        z-index: 222222;
        display: none;
    }

    .active_menu {
        display: block;
    }
    .inactive{
        color: #fff !important;
    }
    .nav_list {
        position: absolute;
        top: -20px;
        left: 0;
        width: 250px;
        height: 120vh;
        background: #343444;
        z-index: 333333;
        flex-direction: column;
        padding-top: 40px;
    }
    .nav_item  {
        padding: 10px !important;
    }

    .mobile_menu {
        display: block;
        color: black;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 1.7rem;
    }

    .btn {
        padding: 0px 0px;
       
      margin-top: 15px;
    }
    
    .login {
        color: #fff;
        background-color: rgb(255, 166, 0);
        text-decoration: none;
        padding: 0px 20px;
        font-size: 0.8rem;
        border-radius: 10px;
    margin-top: 5px;
    }
    .logout{
      
        margin-right: 20px;
        margin-left: 20px;

        margin-top: 15px;
    }
    
    .notification{
        position: relative;
    }
    .badge{
        top: 10px;
        right: 12px;
    position: absolute;
    
    }
}
