.navbar{
    background-color: #fff;
    display: flex;
    align-items: center;
   padding: 10px;
   filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.178));
}

.navbar-brand{
    padding-top:0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right:  1rem;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    white-space: nowrap;
}
.adminprofile{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.adminprofile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}

@media only screen and (min-width:992px) {
    .navbar{
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbarCollapse{
        display: flex!important;
        flex-basis: auto;  
    }
    .navbarul{
        flex-direction: row;
    }
.naveLink{
    padding-right: 0.5rem;
    padding-left:0.5rem;
}

}
.logout{
    background-color: #060047;
    color: #fff;
    margin-right: 20px;
    padding: 2px;
    font-size: 2.3rem;
    margin-top: 3px;
    transition: 0.8s all ease;
    cursor: pointer;
    border-radius: 2px;
    
}
.logout:hover{
    background-color: red;
    color: #fff;

}


.notification{
    position: relative;
}
.badge{
    right: 12px;
position: absolute;

}




@media only screen and (max-width:980px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    

}