.login-section {
    background: #8a2387;
    background: -webkit-linear-gradient(290deg, #8a2387 0%, #8e54e9 100%);
    background: linear-gradient(290deg, #8a2387 0%, #8e54e9 100%);
    min-height: 100vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    position: absolute;
    .container-content {
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;

        .wrapper {
            background-color: #fff;
            padding: 30px 50px;
            border-radius: 5px;

            h3 {
                text-align: center;
                font-size: 2.5rem;
                background: #8a2387;
                background: radial-gradient(circle farthest-corner at right center, #8a2387 11%, #02afee 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .input {
                margin: 10px !important;
            }
            label {
                padding: 10px 0px;
            }
            .form-box {
                display: flex;
                flex-direction: column;

                .input {
                    margin: 10px !important;
                }
                .button {
                    margin: 10px;
                    button {
                        background-color: #8b1874;
                        padding: 7px 40px;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
            }
            .login-link {
                margin: 10px;
                a {
                    color: rgb(0, 94, 255);
                    margin-left: 3px;
                }
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .container-content {
            padding: 0 10px;
        }
    }
}
