@use "../variables" as c;

.client-home-banner {
    .wrapper {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 700px;
        min-height: 100%;
        display: flex;
        align-items: center;
        animation: slideshow 10s linear infinite;
        background-position: center;
        background: linear-gradient(#ffffff1e, #b713750a), url("/src/assets/img//client//home/bannerbg.jpg");

        .box-1 {
            h1 {
                font-family: "Philosopher", sans-serif;
                color: c.$primary-color;
                font-weight: 900;
                font-size: 7rem;
                margin-top: 70px;
            }

            h4 {
                color: #fff;
                font-size: 4rem;
            }

            button {
                border: none;
                display: block;
                position: relative;
                padding: 0.7em 2.4em;
                font-size: 18px;
                background: transparent;
                cursor: pointer;
                user-select: none;
                overflow: hidden;
                color: #fff;
                z-index: 1;
                font-family: inherit;
                font-weight: 500;

                &:hover {
                    color: white;

                    span {
                        &::before {
                            transform: translate(-50%, -50%) rotate(-90deg);
                            width: 100%;
                            background: c.$primary-color;
                        }
                    }
                }
            }
            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: -1;
                border: 4px solid c.$primary-color;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 900%;
                    background: c.$primary-color;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-60deg);
                    transition: all 0.3s;
                }
            }
        }
        .box-2 {
            img {
                animation: img-spin infinite 20s linear;
                width: 100%;
            }
        }
    }
    @keyframes slideshow {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 700%;
        }
    }

    @keyframes img-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@media only screen and (max-width: 980px) {
    .client-home-banner {
        .wrapper {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            height: 100%;
            animation: slideshow 10s linear infinite;
            background-position: center;
            background: linear-gradient(#ffffff1e, #b713750a), url("/src/assets/img//client//home/bannerbg.jpg");

            .box-1 {
                order: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    font-size: 5rem;
                }
                h4 {
                    text-align: center;
                    font-size: 3rem;
                    margin-bottom: 60px;
                }
            }
            .box-2 {
                order: 1;
            }
        }
    }
}

//  Tarot is a powerful

.client-home-about {
    width: 100%;
    /* Height: 400px; */
    background-color: #2f1a49;
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 81.8%, 0% 100%);
    padding: 50px 0px;

    .img {
        width: 500px;
        img {
            width: 100%;
            animation: mover 1s infinite alternate;
        }
    }
    .detail {
        h2 {
            color: #fff;
            margin-bottom: 50px;
        }
        a {
            color: #fff;
        }
        p {
            color: #fff;
            margin-bottom: 50px;
            line-height: 2.1rem;
        }
        button {
            padding: 15px 25px;
            background-color: c.$primary-color;
            border: 2px solid #fff;
            color: #fff;
            font-weight: 500;
            -webkit-box-shadow: -0.5px 0.5px 18px -0.5px c.$primary-color;
            -moz-box-shadow: -0.5px 0.5px 18px -0.5px c.$primary-color;
            box-shadow: -0.5px 0.5px 18px -0.5px c.$primary-color;
            transition: all 0.5s ease;
            &:hover {
                transform: translate(0px, -5px);
            }
        }
    }
    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-30px);
        }
    }
    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-50px);
        }
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
        background-color: #2f1a49;
        clip-path: polygon(0% 0%, 100% 0%, 100.1% 90.8%, 0% 100%);
        padding: 50px 0px;
        .img {
            width: 300px;
            img {
                width: 100%;
                animation: mover 1s infinite alternate;
            }
        }
    }
}
