.container{
    Width: 100%;
    /* Height: 400px; */
    background-color: #2F1A49;
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 81.8%, 0% 100%);
    padding: 50px 0px;
}
.img{
    width: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.img img{
    width: 100%;
    animation: mover 1s infinite  alternate;
}
.detail h2{
color: #fff;
margin-bottom: 50px;
}
.detail a{
    color: #fff;

}
.detail p{
    color: #fff;
    margin-bottom: 50px;
    line-height: 2.1rem;
    }
    .detail button{
        padding: 15px 25px;
        background-color: #B71375;
        border: 2px solid #fff;
        color: #fff;
        font-weight: 500;
        -webkit-box-shadow: -0.5px 0.5px 18px -0.5px #b71375;
        -moz-box-shadow: -0.5px 0.5px 18px -0.5px #b71375;
        box-shadow: -0.5px 0.5px 18px -0.5px #b71375;
        transition: all 0.5s ease;
    }
    .detail button:hover{
        transform: translate(0px, -5px);
        
    }

    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-30px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-50px); }
    }
    @media only screen and (max-width:400px) {
        .container{
            Width: 100%;
            /* Height: 400px; */
            background-color: #2F1A49;
            clip-path: polygon(0% 0%, 100% 0%, 100.1% 90.8%, 0% 100%);
            padding: 50px 0px;
        }
        .img{
            width: 300px;
            
        }
        .img img{
            width: 100%;
            animation: mover 1s infinite  alternate;
        }
    }