.sidebar {
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    transition: width 0.3s ease-in-out;
    background-color: #B71375;
    padding: 15px;
   z-index: 1;
  }

 .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  .sidebar li a:hover {
    background-color: #e9ecef;
    color: #000 !important;
  }
  .title{
    transition: 0.5s all ease-in-out;
  }
  .unactive:hover{
    /* color: #000 !important; */
  }
  .unactive {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }



  .active {
    color: #343a40;
    background-color:#e9ecef ;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  .sidebar svg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  .unactive span{
    font-size: 1.3rem;
    margin-right: 2px;
    /* color: #e9ecef; */
  }
 
  .title{
    margin-left: 10px;
  }