.Container{
    padding: 40px 40px;
    /* position: absolute; */
}
.imagebox {
width: 600px;
}
.imagebox img{
width: 70%;
aspect-ratio: 3/2;
object-fit: contain;
/* mix-blend-mode: color-dodge; */
}
.imageinput{
    display: flex;
        margin-top: 20px;
}
.imageinput label{
    color: #7e1453;
    border: none;
}
.addimgIcon{
    color: #7e1453;

    font-size: 2rem;
}
.fileInput span{
    color: gray;
}
.input{
    width: 250px;
}

.input textarea{
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid gray;
}
.sumitbtn{
    background-color: #B71375;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    transition: 0.2s ease-in-out all;
}
.sumitbtn:hover{
   transform: scale(0.9);
   border-radius: 2px;
   background-color: #7e1453;

}
.warinng{
    border: 2px solid #ffffff;
    -webkit-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
    -moz-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
    box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
}
.descwarinng{
    outline: none;
    border: 2px solid #ffffff !important;
    -webkit-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
    -moz-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
    box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(242, 0, 0, 0.58);
}
.descsuccess{
    /* border: 2px solid gray; */

}
.descsuccess:focus{
    outline: none;
    border: 2px solid rgb(252, 252, 252);
    -webkit-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
    -moz-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
    box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
}
.success:focus{
    border: 2px solid rgb(252, 252, 252);
    -webkit-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
    -moz-box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
    box-shadow: -0.5px 0.5px 2.5px 2.5px rgba(71, 74, 255, 0.57);
    
   }
   .Spanerr{
    color: red;
    line-height: 2.2rem;
   }
@media (max-width:450px){
    .input textarea{
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border: 2px solid gray;
    }


}